{% extends 'base.html' %}
{% block content %}

<div class="main-container">
    <h1 align="center">Add A Word</h1>
    <form method="get">
        <div class="form-group">
            <input type="text" id="english" name="english" placeholder="English Word" required>
        </div>
        <div class="form-group">
            <input type="text" id="khorma" name="khorma" placeholder="Khorma Word" required>
        </div>
        <div class="form-group">
            <input type="text" id="apos" name="apos" placeholder="Apostrophe Form">
        </div>
        <div class="form-group">
            <input type="submit" value="Save Word" class="save-btn">
        </div>
    </form>

</div>

{% endblock content %}